<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cadastrar</servlet-name>
        <servlet-class>controllers.Cadastrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionarioServlet</servlet-name>
        <servlet-class>controllers.ExcluirFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>controllers.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEvento</servlet-name>
        <servlet-class>controllers.CadastrarEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>controllers.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativarFuncionario</servlet-name>
        <servlet-class>controllers.DesativarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Desativa</servlet-name>
        <servlet-class>controllers.Desativa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarSenha</servlet-name>
        <servlet-class>controllers.AlterarSenha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEvento</servlet-name>
        <servlet-class>controllers.ExcluirEvento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServlet</servlet-name>
        <servlet-class>controllers.ExcluirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesativaFuncionario</servlet-name>
        <servlet-class>controllers.DesativaFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarEvento</servlet-name>
        <servlet-class>controllers.AlterarEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cadastrar</servlet-name>
        <url-pattern>/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionarioServlet</servlet-name>
        <url-pattern>/ExcluirFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEvento</servlet-name>
        <url-pattern>/CadastrarEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativarFuncionario</servlet-name>
        <url-pattern>/DesativarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Desativa</servlet-name>
        <url-pattern>/Desativa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarSenha</servlet-name>
        <url-pattern>/AlterarSenha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEvento</servlet-name>
        <url-pattern>/ExcluirEvento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServlet</servlet-name>
        <url-pattern>/ExcluirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesativaFuncionario</servlet-name>
        <url-pattern>/DesativaFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarEvento</servlet-name>
        <url-pattern>/AlterarEvento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
